.card{ 
    border: 1px solid #ccc;
    border-radius:6px;
    padding:9px;
    margin-top:20px;
}

span{ 
    display: inline-block;
    margin:0.5em;
    padding-top: 3px;
    background-color: #ccc;
    width:24px;
    height:24px;
    border-radius:50%;
    cursor: pointer;
}

.card span.selected{ 
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.card span.used{ 
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}

.fa-star{ 
    margin:0.5em;
    font-size: 24px;
}